@font-face {
    font-family: "Cairo";
    src: url("./app/shared/assets/fonts/Cairo/static/Cairo-Regular.ttf");
  }
  @font-face {
    font-family: "Cairo-bold";
    src: url("./app/shared/assets/fonts/Cairo/static/Cairo-Bold.ttf");
  }
  